<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>
<%= render 'details', picture: @picture %> |
<%= link_to "削除", picture_path(@picture.id), method: :delete %>
<%= link_to 'キャンセル', pictures_path %>
