<p id="notice"><%= notice %></p>

<h1>写真一覧</h1>

<div><%= link_to "連携アプリ", oauth_index_path %></div>
<%= link_to '写真をアップロード', new_picture_path %>

<br>

<div class="picture-container">
<% @pictures.each do |picture| %>
  <%= render 'details', picture: picture %>
<% end %>
</div>