// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.picture-index-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}
.picture-index-card {
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}
.picture-index-image {
  object-fit: cover;
  width: clamp(15ch, 100%, 100%);
  height: clamp(20rem, 30vh, 100vh);
}
.picture-index-image:hover{
  object-fit: contain;
}